<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Message:</strong> <%= @contact.body %></p>

<!-- TODO: Mandar los dos, otro que sea .text.erb, ver rails guides texto plano con html attacheado -->