/*
    Name: Basic Stylesheet
    Description: My personal portfolio styles
	Author: Veronica Rebagliatte
	Author URI: http://rebagliatte.com
*/

/*  Imports */
@import url("html5-reset.css");

/* Pallete */
/*magenta: #FF336A, dark magenta: #B2123D, cian: #149FCC, dark cian: #1B8DB2, yellow: #FFF34C*/

/*
 * Global Styles
 */

body {
  font-family: "Helvetica Neue", Helvetica, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333333;
  background: url(../images/bg.png) top left repeat-y #f7f7f7;
  font-size: 14px;
  min-width: 960px;
}

/* headings */
h1, h2, h3 {
  text-shadow: 0 -1px #ffffff;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
  clear: both;
}
h1 {
  font-size: 2em;
  color: #FF3366;
}
h2 {
  font-size: 1em;
  color: #666666;
}
hgroup h1 {
  margin-bottom: 0;
}
section section h1 {
  font-size: 1.8em;
}

/* paragraphs */
p {
  margin-bottom: 24px;
  line-height: 1.5em;
}
p strong {
	color: #666;
}
* p:last-child {margin-bottom: 0;}
strong {font-weight: bold;}

::-moz-selection {background: #FFF34C; color: #333333;}
::selection {background: #FFF34C; color: #333333;}

/* lists */
ul, ol, dl {
  margin-bottom: 24px;
  line-height: 1.5em;
}
ul ul,
ol ol {
  margin: 0 0 0 24px;
}
ul.bullets,
ul.bullets ul{
  list-style: disc inside none
}
ul.bullets ul{
  padding-bottom: 1em;
}
dt {
  display: block;
  clear: both;
  float: left;
  width: 4em;
}

/* captions */
figcaption {
  font-style: italic;
  color: #666;
  margin-bottom: 1em;
}

/* quotes */
blockquote {
  border-left: 5px solid #ccc;
  padding-left: 1em;
  text-indent: -0.4em;
  margin-bottom: 1em;
}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

blockquote span {
  font-size: 3em;
  vertical-align: -0.4em;
  line-height: 0.1em;
}

/* links */
a {
  color: #1B8DB2;
  text-decoration: none;
}
a:hover {
  color: #FF3366;
}
a:active,
a:focus {
  position: relative;
  top: 1px;
}

/* buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px 6px;
  margin-right: 5px;
  font-weight: bold;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  color: #fff;
  background-color: #1b8db2;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn:hover {
  background-color: #0a6d8e;
  color: #ffffff;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
}
.secondary-btn {
  background-color: #666666;
  color: #f4f4f4;
}
.secondary-btn:hover {
  background-color: #333333;
  color: #ffffff;
}

/* forms */
form {
  margin-bottom: 24px;
}
form fieldset legend {
  font-weight: bold;
}
form fieldset .field {
  border: 1px solid #cecece;
  padding: 1em;
  margin-bottom: 1em;
}
form label {
  display: block;
  clear: both;
}
form input,
form textarea {
  clear: both;
  display: block;
  margin-bottom: 10px;
  padding: 4px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form input:focus,
form textarea:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 2px rgba(27, 141, 178, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 2px rgba(27, 141, 178, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 2px rgba(27, 141, 178, 0.6);
}
.field_with_errors label {
  color: #B2123D;
}
.field_with_errors input,
.field_with_errors textarea {
  background: #ffebe9;
  border-color: #eac1bd;
}
.field_with_errors input:focus,
.field_with_errors textarea:focus{
  border-color: #b9554d;
  -webkit-box-shadow: 0 0 6px rgba(255, 51, 102, 0.3);
  -moz-box-shadow: 0 0 6px rgba(255, 51, 102, 0.3);
  box-shadow: 0 0 6px rgba(255, 51, 102, 0.3);
}

/* layout */
header,
section {
  padding: 30px 0 30px 30px;
  float: left;
}
header {
  width: 282px;
}
section {
  width: 618px;
}
section section {
  padding: 0;
}
footer.main {
  border-top: 1px solid #ececec;
  clear: both;
  padding: 15px 30px 15px 340px;
  font-size: 0.8em;
  color: #666666;
  background-color: rgba(0, 0, 0, 0.01);
}
.authentication {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 1em;
}
.menu {
  clear: both;
  margin-bottom: 30px;
}
.menu li {
  display: inline-block;
  margin-right: 10px;
}

/* header */
header a {display: block;}
header h1 {color: #322f31;}
header h2 {color: #929497;}
header :hover h1 {color: #FF3366;}
header :hover h2 {color: #a2a4a6;}
header nav a:hover {background-color: #ececec;}

/* Messages */
.message {
  color: #404040;
  border: 1px solid #FCEEC1;
  background-color: #FDF5D9;
  padding: 0.5em 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 0.9em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.message.flash-notice {
  background-color: #D1EED1;
  border-color: #BFE7BF;
}
.message p {
  margin-bottom: 10px;
  font-weight: bold;
}
.message ul {
  margin-bottom: 0;
}

/*
 * Section-specific styles
 */

/* Project-list */
body.projects-index section {
  
}
body.projects-index article {
  float: left;
  margin: 0 24px 24px 0;
}
body.projects-index article h1 {
  font-size: 1em;
  color: inherit;
  width: 182px;
}
body.projects-index img {
  padding: 1px;
  background-color: #fff;
  border: 5px solid #ddd;
}
body.projects-index a:hover img {
  border-color: #149FCC;
}

/* Project detail */
body.projects-show p {
  clear: both;
}

/* About */
body.pages-about img {
  float: left;
  margin: 0 30px 30px 0;
}
body.pages-about .testimonials article {
  margin-bottom: 2em;
}
body.pages-about .testimonials footer {
  margin-left: 1.4em;
  font-size: 0.9em;
}
body.pages-about .testimonials footer .position {
  color: #666666;
}

/* Contact */
.networks ul li a {
  display: block;
  background: url(../images/vr_sprite.png) top left no-repeat transparent;
  line-height: 35px;
  padding-left: 45px;
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
.networks ul li a:hover {
  border-color: #efefef;
  background-color: #ffffff;
}
.networks ul li.linkedin a {background-position: 0 -35px;}
.networks ul li.github a {background-position: 0 -70px;}
.networks ul li.delicious a {background-position: 0 -105px;}
.networks ul li.behance a {background-position: 0 -140px;}
.networks ul li.last-fm a {background-position: 0 -175px;}
.networks ul li.google a {background-position: 0 -210px;}
.networks ul li.facebook a {background-position: 0 -245px;}
.networks ul li.twitter a {background-position: 0 -280px;}
.networks ul li.flickr a {background-position: 0 -315px;}
