- if object && object.errors.size > 0
  %div.errors
    %p= "#{pluralize(object.errors.size, "error")} in the following fields:"
    %ul
      - object.errors.full_messages.each do |msg|
        %li
          = msg