- if object && object.errors.size > 0
  %div.message
    %p= "Please fix the #{(object.errors.size > 1)? "errors" : "error"} bellow..."
    %ul.bullets
      - object.errors.full_messages.each do |msg|
        %li
          = msg