= page_heading("Edit project: " + @project.title)

= form_for(@project, :html => { :multipart => true }) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Update Project")

- link_to("<< Back to List", projects_path, :class => 'back-link')