- title "Edit project: #{@project.title}"

= form_for(@project, :html => { :multipart => true }) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Update Project", :class => 'btn')

- link_to("Cancel", projects_path, :class => 'btn secondary-btn')