- title "Portfolio"

- if user_signed_in?
  = link_to("Create a new project", new_project_path, :class => 'new')

- @projects.each do |project|
  %article
    %a{ :href => project_path(project.id) }
      - if project.cover_file_name != nil
        = image_tag project.cover.url(:thumb)
      %h1= "#{project.title}"