- title "Create a new project"

= form_for(@project, :html => { :multipart => true }, :url => {:action => 'create'}) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Create project", :class => 'btn')

- link_to("Cancel", projects_path, :class => 'btn secondary-btn')
