- title "Create a new project"

= form_for(:project, :html => { :multipart => true }, :url => {:action => 'create'}) do |form|
  = render(:partial => "form", :locals => {:form => form})
  = submit_tag("Create project")

- link_to("<< Back to List", projects_path, :class => 'back-link')

